* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ff0000;
  font-family: 'tahoma', sans-serif;
}

header {
  text-align: center;
}

#logo {
  margin-bottom: -10px;
  max-width: 100%;
}

#secretoHead {
  display: none;
}

menu {
  ul {
    display: flex;
    justify-content: space-evenly;
    max-width: 850px;
    margin: 0 auto;
  }
  li {
    list-style: none;
  }
  a {
    color: #F0EAD6;
    font-size: 2rem;
    text-decoration: none;
  }
}

main {
  background-color: #F0EAD6;
  border-radius: 10px 10px;
  max-width: 850px;
  margin: 0px auto 0;
  padding: 50px 100px;
  width: 94vw;  
}

footer {
  bottom: 5px;
  color: black;
  font-size: 0.8rem;
  margin: 25px 0 5px;
  text-align: center;
}

.playerList {
  li {
    display: inline-block;
    list-style: none;
  }
}