* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

body {
  background-color: #ff0000;
  font-family: 'tahoma', sans-serif;
}

a {
  font-weight: bold;
  font-size: 1.1rem;
  text-decoration: none;
  color: black;
}
a:hover {
  color: #ff0000;
}
a:visited {
  color: #ff0000;
}

#page404 {
  margin: 20px auto;
  max-width: 850px;
  img {
    width: 100%;
  }
  h1 {
    text-align: center;
  }
}

#pageContainer {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
  &.darkMode {
    color: black;
    background-color: black;

    .bannerContainer {
      display: none;
    }
    main {
      background-color: black;
      border: 5px solid black;
    }
    a {
      color: black;
    }
    a:visited {
      color: black;
    }
  }

  &.disableAds {
    .bannerContainer {
      display: none;
    }
  }
}

header {
  flex: 0 1 auto;
  text-align: center;
}

#logo {
  margin-bottom: -10px;
  max-width: 100%;
}

menu {
  margin-top: 8px;
  ul {
    display: flex;
    justify-content: space-evenly;
    max-width: 850px;
    margin: 0 auto;
  }
  li {
    list-style: none;
  }
  a,
  a:visited {
    color: #F0EAD6;
    font-size: 2rem;
    text-decoration: none;
  }
  a.selected {
    color: black;
  }
  a:hover {
    color: black;
  }
}

.mainRow {
  display: flex;
  flex: 1 1 auto;
  margin: 15px auto 10px;
}

main {
  background-color: #F0EAD6;
  border: 5px solid white;
  border-radius: 10px 10px;
  margin: 0 12px;
  min-height: 610px;
  padding: 25px 80px 35px;
  width: 850px;
}

.bannerContainer {
  margin-top: 5px;
  height: 600px;
  width: 160px;
}

footer {
  align-self: center;
  bottom: 5px;
  color: black;
  font-size: 0.8rem;
  max-width: 850px;
  padding: 12px 0 10px;
  text-align: center;
  width: 100%;
}

#footerToggles {
  display: flex;
  flex: 0 1 40px;
  justify-content: space-between;
}

#footerText {
  font-size: 0.65rem;
  font-style: italic;
}


/* ============================================= */
/* SPECIFIC STUFF */
/* ============================================= */
.playerList {
  li {
    display: inline-block;
    list-style: none;
    margin: 0 12px 0 0;
  }
}

.comment {
  font-style: italic;
}

.yearMenu {
  display: flex;
  flex-wrap: wrap;
  li {
    list-style: none;
    margin: 0 12px 0 0;
  }
}

.yearList {
  a {
    font-size: 1.4rem;
  }
}

.pagination {
  align-items: center;
  display: flex;
  justify-content: space-between;
  .last {
    margin-left: auto;
  }
}

.newsItem {
  margin: 25px 0;
}

.playersContainer {
  display: flex;
  margin-top: 25px;
  a {
    font-size: 1.25rem;
  }
}

.playerRow {
  flex: 50%;
}

.content {
  margin-top: 25px;
}

#homePage {
  h3 {
    font-size: 1.3rem;
    margin: 25px 0 8px;
  }
  p {
    font-size: 1.1rem;
  }
}

#giftPage {
  height: 100%;
  img {
    margin-top: 15px;
    width: 100%
  }
}

.giftTable {
  th {
    text-align: left;
  }
  td {
    padding: 0 25px 3px 0;
  }
}

#yearPage {
  height: 100%;
  padding-bottom: 25px;
}

#giftsListPage {
  li {
    padding-bottom: 3px;
  }
  .yearLink {
    color: white;
    font-size: 2rem;
    &:visited {
      color: white;
    }
    &:hover {
      color: black;
    }
  }
}

.playerStatus {
  color: #ff0000;
}

#rulesPage {
  ol {
    list-style: none;
  }
}

.pics {
  display: flex;
  flex-wrap: wrap;
}

.giftPic {
  max-width: 220px;
}

#secretoHeadPage {
  margin: 40px 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
}

#secreto {
  aspect-ratio: 800/624;
  height: auto;
  width: 100%;
  display: block;
}

#the-book {
  .secondary {
    margin-left: 40px;
  }
}

/* ============================================= */
/* FANCY SWITCH */
/* ============================================= */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 18px;
}

.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  border-radius: 10px;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 10px;
}

input:checked + .slider {
  background-color: #a70000;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* ============================================= */
/* RESPONSIVE STYLES */
/* ============================================= */
@media (max-width: 1200px) {
  .bannerContainer {
    display: none;
  }
  main {
    min-height: none;
  }
}

@media (max-width: 900px) {
  main {
    width: 94vw;
  }
}

@media (max-width: 700px) {
  main {
    padding: 10px 10px 35px;
  }

  #homeLink {
    display: none;
  }

  ul {
    list-style-position: inside;
  }

  menu {
    ul {
      max-height: 80px;
    }
  }
}
