* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #ff0000;
  font-family: 'tahoma', sans-serif;
}

#pageContainer {
  display: flex;
  flex-flow: column;
  height: 100%;
}

header {
  flex: 0 1 auto;
  text-align: center;
}

#logo {
  margin-bottom: -10px;
  max-width: 100%;
}

menu {
  ul {
    display: flex;
    justify-content: space-evenly;
    max-width: 850px;
    margin: 0 auto;
  }
  li {
    list-style: none;
  }
  a {
    color: #F0EAD6;
    font-size: 2rem;
    text-decoration: none;
  }
}

main {
  background-color: #F0EAD6;
  border-radius: 10px 10px;
  flex: 1 1 auto;
  max-width: 850px;
  margin: 0px auto 0;
  padding: 25px 80px;
  width: 94vw;  
}

footer {
  bottom: 5px;
  color: black;
  flex: 0 1 40px;
  font-size: 0.8rem;
  padding: 12px 0 10px;
  text-align: center;
}

.playerList {
  li {
    display: inline-block;
    list-style: none;
  }
}

.aboutQuestion {
  margin: 25px 0 8px;
}

.comment {
  font-style: italic;
}

.yearList {
  display: flex;
  justify-content: space-between;
  li {
    list-style: none;
  }
}

.newsItem {
  margin: 25px 0;
}

.playersContainer {
  display: flex;
  margin-top: 25px;
}

.playerRow {
  flex: 50%;
}

.content {
  margin-top: 25px;
}

.playerWrapper {
  h3 {
    margin-top: 20px;
  }
}