---
pagination:
  data: secretSanta.years
  size: 1
  alias: year
permalink: "year/{{ year.id }}/index.html"
---

{% set gifts = secretSanta.gifts | filter("year", year.id) | list %}
<div class="yearWrapper">
  <h1>{{ year.year }}</h1>

  <h2>players</h2>
  <ul class="playerList">
  {% for gift in gifts | sort(false, true, 'from') %}
    <li>
      <a href="/player/{{ gift.from }}/">{{ gift.from | capitalize }}</a>
    </li>
  {% endfor %}
  </ul>

  <h2>gifts</h2>
  <ul class="giftList">
  {% for gift in gifts %}
    <li>
      {{ gift.from }} to
      {{ gift.to }}:
      <a href="/gift/{{ gift.id }}/">
        {{ gift.gift }}
      </a>
    </li>
  {% endfor %}
  </ul>
</div>