<h2>active players</h2>
<ul>
{% for player in secretSanta.players | filter("status", "active") %}
  <li>
    <a href="/player/{{ player.id }}/">
      {{player.name}}
    </a>
  </li>
{% endfor %}
</ul>

<h2>retired players</h2>
<ul>
{% for player in secretSanta.players | filter("status", "retired") %}
  <li>
    <a href="/player/{{ player.id }}/">
      {{player.name}}
    </a>
  </li>
{% endfor %}
</ul>


<ul>
{% for gift in secretSanta.gifts %}
  <li>
    <a href="/gift/{{ gift.id }}/">
      {{ gift.year }} - 
      {{ gift.gift }}
      from {{ gift.from }}
      to {{ gift.to }}
    </a>
  </li>
{% endfor %}
</ul>