* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ff0000;
}

header {
  
}

#secretoHead {
  visibility: hidden;
}

menu {
  display: flex;
  li {
    list-style: none;
  }
}

main {
  max-width: 68vw;
}


footer {
  bottom: 5px;
  color: black;
  font-size: 0.8rem;
  left: calc(50vw - 150px);
  position: absolute;
}