---
pagination:
  data: secretSanta.years
  size: 1
  alias: year
permalink: "year/{{ year.id }}/index.html"
---

{% set gifts = secretSanta.gifts | filter("year", year.id) | list %}
{% set imgs = collections.photosByYear | find("year", year.id) %}

<div class="yearWrapper">
  <h1>{{ year.year }}</h1>

  <h4 class="comment">{{ year.description }}</h4>

  <div class="content">
    <h2>Players</h2>
    <ul class="playerList">
    {% for gift in gifts | sort(false, true, 'from') %}
      <li>
        <a href="{{ '/player/' + gift.from | url }}">{{ gift.from | capitalize }}</a>
      </li>
    {% endfor %}
    </ul>
  </div>

  <div class="content">
    <h2>Gifts</h2>
    <table>
      <thead>
        <th>From</th>
        <th>To</th>
        <th>Gift</th>
      </thead>
      {% for gift in gifts %}
        <tr>
          <td>{{ gift.from | capitalize }}</td>
          <td>{{ gift.to | capitalize}}</td>
          <td>
            <a href="{{ '/gift/' + gift.id | url }}">
              {{ gift.gift }}
            </a> 
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>

  {# <div class="pics">
    {% for img in imgs.images %}
      <a href="{{ img | url }}"><img class="giftPic" src="{{ img | url }}" /></a>
    {% endfor %}
  </div> #}

  <div class="pagination">
    {% if pagination.previous %}
      <a href="{{ pagination.previous | url }}">
        ← {{ pagination.page.previous.id}}
      </a>
    {% endif %}

    {% if pagination.next %}
      <a href="{{ pagination.next | url }}">
        {{ pagination.page.next.id}} →
      </a>
    {% endif %}
  </div>
</div>