---
pagination:
  data: secretSanta.years
  size: 1
  alias: year
permalink: "year/{{ year.id }}/index.html"
---

{% set gifts = secretSanta.gifts | filter("year", year.id) | list %}

<div class="yearWrapper">
  <h1>{{ year.year }}</h1>

  <h2>Players</h2>
  <ul class="playerList">
  {% for gift in gifts | sort(false, true, 'from') %}
    <li>
      <a href="/player/{{ gift.from }}/">{{ gift.from | capitalize }}</a>
    </li>
  {% endfor %}
  </ul>

  <h2>Gifts</h2>
  <table>
    <thead>
      <th>From</th>
      <th>To</th>
      <th>Gift</th>
    </thead>
    {% for gift in gifts %}
      <tr>
        <td>{{ gift.from | capitalize }}</td>
        <td>{{ gift.to | capitalize}}</td>
        <td>
          <a href="/gift/{{ gift.id }}/">
            {{ gift.gift }}
          </a> 
        </td>
      </tr>
    {% endfor %}
  </table>
</div>