---
pagination:
  data: secretSanta.players
  size: 1
  alias: player
permalink: "player/{{ player.name }}/index.html"
---

{% set given = secretSanta.gifts | filter("from", player.name) | list %}
{% set received = secretSanta.gifts | filter("to", player.name) | list %}

<div id="playerPage" class="page">
  <h1>{{ player.name }}</h1>

  <h3>Status: <span class="playerStatus">{{ player.status | capitalize }}</span></h3>

  <div class="content">
    <h3>Years Participated</h3>
    <ul class="yearMenu">
      {% for gift in given %}
        <li>
          <a href="{{ '/year/' + gift.year | url }}">{{ (secretSanta.years | find("id", gift.year)).year }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>

  <div class="content">
    <h3 class="">Given</h3>
    <table class="giftTable">
      <thead>
        <th>Year</th>
        <th>To</th>
        <th>Gift</th>
      </thead>
      <tbody>
      {% for gift in given %}
        <tr>
          <td>{{ (secretSanta.years | find("id", gift.year)).year }}</td>
          <td>{{ gift.to }}</td>
          <td><a href="{{ '/gift/' + gift.id | url }}">{{ gift.gift }}</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="content">
    <h3>Received</h3>
    <table class="giftTable">
      <thead>
        <th>Year</th>
        <th>From</th>
        <th>Gift</th>
      </thead>
      <tbody>
      {% for gift in received %}
      <tr>
        <td>{{ gift.year }}</td>
        <td>{{ gift.from }}</td>
        <td><a href="{{ '/gift/' + gift.id | url }}">{{ gift.gift }}</a></td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>