---
pagination:
  data: secretSanta.players
  size: 1
  alias: player
permalink: "player/{{ player.name }}/index.html"
---

{% set given = secretSanta.gifts | filter("from", player.name) | list %}
{% set received = secretSanta.gifts | filter("to", player.name) | list %}

<div class="playerWrapper">
  <h1>{{ player.name }}</h1>

  <h2>status: {{ player.status }}</h2>

  <h2>Years Participated</h2>
  <ul class="yearList">
    {% for gift in given %}
      <li>
        <a href="/year/{{ gift.year }}">{{ (secretSanta.years | find("id", gift.year)).year }}</a>
      </li>
    {% endfor %}
  </ul>

  <h2>Gifts Given</h2>
  <table>
    <thead>
      <th>Year</th>
      <th>To</th>
      <th>Gift</th>
    </thead>
    <tbody>
    {% for gift in given %}
      <tr>
        <td>{{ (secretSanta.years | find("id", gift.year)).year }}</td>
        <td>{{ gift.to }}</td>
        <td><a href="/gift/{{ gift.id }}/">{{ gift.gift }}</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

  <h2>Gifts Received</h2>
  <table>
    <thead>
      <th>Year</th>
      <th>From</th>
      <th>Gift</th>
    </thead>
    <tbody>
    {% for gift in received %}
    <tr>
      <td>{{ gift.year }}</td>
      <td>{{ gift.from }}</td>
      <td><a href="/gift/{{ gift.id }}/">{{ gift.gift }}</a></td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>