---
layout: false
permalink: 404.html
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>UH OH</title>
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
  </head>
  <body>
    <div id="page404">
      <img src="{{ '/imgs/404.png' | url }}" alt="MISTAKES WERE MADE" />
      <h1>WHAT ARE YOU DOING HERE</h1>
    </div>
  </body>
</html>

