<div id="aboutPage" class="page">
  <h1>About Shitty Secret Santa</h1>
  <h4 class="comment">Seems pretty straightforward to me.</h4>
  <h3 class="aboutQuestion">What is Shitty Secret Santa?</h3>
  <p><em>Is that a real question? It's all there in the name. Imagine secret santa, but the gifts are mentally and emotionally damaging.</em></p>

  <h3 class="aboutQuestion">What's with all the images?</h3>
  <p><em>I have no idea what you're referring to.</em></p>

  <h3 class="aboutQuestion">Who is Secreto Santar?</h3>
  <p><em>Some say he's Santa's evil twin brother. Many antediluvian religions worship him as a fell god. We know this much: he always types in all caps, because he is very old.</em></p>

  <h3 class="aboutQuestion">This site hurts to look at!</h3>
  <p><em>Yes, good.</em></p>

  <h3 class="aboutQuestion">I have more questions, can I contact you?</h3>
  <p><em>Absolutely not.</em></p>
</div>