<div id="aboutContainer">
  <h1>About Shitty Secret Santa</h1>
  <h4 class="comment">I dunno man, seems pretty straightforward to me.</h4>
  <h3>What is Shitty Secret Santa?</h3>
  <p><em>Is that a real question? It's all there in the name. Imagine secret santa, but the gifts are mentally and emotionally damaging.</em></p>

  <h3>Why are there so few images?</h3>
  <p><em>Look, some things are better left to the imagination. Do you really want to see <a href="/gift/2018-Skyler-Sam">Sam in a banana hammock</a>, or <a href="/gift/2022-Charlie-Nathan">Nathan in a singlet?</a></em></p>

  <h3>Who is Secreto Santar?</h3>
  <p><em>Some say he's Santa's evil twin brother. Many antideluvian religions worship him as a fell god. We know this much: he always types in all caps, because he is very old.</em></p>

  <h3>This site hurts to look at!</h3>
  <p><em>Yes, good.</em></p>

  <h3>I have more questions, can I contact you?</h3>
  <p><em>Absolutely not.</em></p>
</div>