{# {% set groupedGifts = secretSanta.gifts | groupby("year") %} #}

<h1>Every single gift that has ever been given</h1>
<h4 class="comment">Except for the ones I missed.</h4>

<div class="giftsContainer">
  {% for year, items in secretSanta.gifts | groupby("year") %}
    <div class="giftGroup">
      {{ year }}
      <ul>
      {% for gift in items %}
        <li>
          <a href="{{ '/gift/' + gift.id | url }}">
            {{ gift.year }} - 
            {{ gift.gift }}
            from {{ gift.from }}
            to {{ gift.to }}
          </a>
        </li>
      {% endfor %}
      </ul>
    </div>
  {% endfor %}
  
</div>