<h1>Every single gift that has ever been given</h1>
<h4 class="comment">Except for the ones I missed.</h4>
<ul>
{% for gift in secretSanta.gifts %}
  <li>
    <a href="/gift/{{ gift.id }}/">
      {{ gift.year }} - 
      {{ gift.gift }}
      from {{ gift.from }}
      to {{ gift.to }}
    </a>
  </li>
{% endfor %}
</ul>