<div id="homePage" class="page">
  <h3>What is Shitty Secret Santa?</h3>
  <p><em>Imagine secret santa, but the gifts are mentally and emotionally damaging.</em></p>

  <h3>What's with all the images?</h3>
  <p><em>I have no idea what you're referring to.</em></p>

  <h3>Who's that scowling guy?</h3>
  <p><em>That's Secreto Santar, Santa Claus's evil twin brother. He organizes Shitty Secret Santa. <span id="secretoFact">It's actually F, in makeup.</span></em></p>

  <h3>This site hurts to look at!</h3>
  <p><em>Yes, good.</em></p>

  <h3>I have more questions, can I contact you?</h3>
  <p><em>Absolutely not.</em></p>
</div>