---
title: WELCOME TO THE FOURTH POLE
---

<h2>LET ME RUIN YOUR HOLIDAY SEASON</h2>

<p>THE 2025 SHITTY SECRET SANTA EXCHANGE HAS CONCLUDED, AND I MAY ONCE AGAIN REST.</p>
<p>CONGRATULATIONS TO CATHERINE AND NEIL FOR BOTH WINNING BEST GIFT.</p>
<p>YOUR PUNISHMENT WILL ARRIVE SOME TIME WITHIN THE NEXT YEAR.</p>
<p>BEWARE THE POSTMAN BEARING GIFTS.</p>