<h1>The players of this foul game</h1>
<h4 class="comment">Buncha of freaks, nutjobs, and whackos.</h4>

<div class="playersContainer">
  <div class="playerRow">
    <h2>Active</h2>
    <ul>
    {% for player in secretSanta.players | filter("status", "active") %}
      <li>
        <a href="{{ '/player/' + player.name | url }}">
          {{player.name}}
        </a>
      </li>
    {% endfor %}
    </ul>
  </div>
  <div class="playerRow">
    <h2>Retired</h2>
    <ul>
    {% for player in secretSanta.players | filter("status", "retired") %}
      <li>
        <a href="{{ '/player/' + player.name | url }}">
          {{player.name}}
        </a>
      </li>
    {% endfor %}
    </ul>
  </div>
</div>