<h1>The players of this foul game</h1>
<h4>Buncha of freaks, nutjobs, and whackos.</h4>
<h2>Active</h2>
<ul>
{% for player in secretSanta.players | filter("status", "active") %}
  <li>
    <a href="/player/{{ player.id }}/">
      {{player.name}}
    </a>
  </li>
{% endfor %}
</ul>

<h2>Retired</h2>
<ul>
{% for player in secretSanta.players | filter("status", "retired") %}
  <li>
    <a href="/player/{{ player.id }}/">
      {{player.name}}
    </a>
  </li>
{% endfor %}
</ul>
