<h1>The Rules, as they currently stand</h1>
<h4 class="comment">Fun fact: all of these are written in blood.</h4>
<div class="content">
  <ol>
    <li>
      <h3>The goal is a gift that is comically bad.</h3>
      <p>As opposed to permanently scarring or actually hurtful. It's a game. We're friends. </p>
      <em>Originally instituted due to Devon's Rape Kit.</em>
    </li>
    <li>
      <h3>No biologicals.</h3>
      <p>This one has been bent pretty far - from used needles to live spiders. Honestly, that last one is probably a violation. Don't bring animals into this, they didn't do anything to deserve this.</p>
      <em>Originally instituted due to Skyler's Used Needles.</em>
    </li>
    <li>
      <h3>Don't fuck up my mom's carpet.</h3>
      <p>This is a holdover rule from when the exchange was in-person at F's mom's house, but it still applies in this remote era - glitter can be vacuumed up, but no gifting someone an exploding dye pack.</p>
      <p><em>Originally instituted due to Neil's Greasy Truck Nuts.</em></p>
    </li>
    <li>
      <h3>You must pass along chain gifts.</h3>
      <p>Any gift can become a chain gift, if you regift it. If you receive a chain gift, you are obligated to add to it and pass it along - at least until that's no longer possible, or very logistically costly, or you just don't feel like it. The original chain gifts were The Book and The Painting, both of which are currently retired.</p>
      <em>Originally instituted due to Sean's regifting of The Book.</em>
    </li>
    <li>
      <h3>There are no spending limits.</h3>
      <p>This one's pretty straightforward - you're not gonna make it to retirement anyway, might as well blow your savings commissioning a toilet in the shape of your giftee's head.</p>
      <em>This one just a guideline that was added once some of us got jobs.</em>
    </li>
    <li>
      <h3>The best gift gets a prize.</h3>
      <p>The prize has always been, and shall remain, hornets.</p>
      <em>Day one rule baybee.</em>
    </li>
  </ol>
</div>