<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="{{ '/favicon.ico' | url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
    <script src="/scripts/main.js" defer></script>
    <script src="/scripts/secreto.js" defer></script>
    <title>{{ title | default("WELCOME TO THE FOURTH POLE") }}</title>
  </head>
  <body>
    <div id="pageContainer">
      <header>
        <a href="{{ '/' | url }}"><img src="{{ '/imgs/secreto_logo_headless_horiz.webp' | url }}" alt="shitty secret santa logo" id="logo" /></a>
        <menu>
          <ul>
            <li><a href="{{ '/' | url }}"><strong>NEWS</strong></a></li>
            <li><a href="{{ '/rules' | url }}"><strong>RULES</strong></a></li>
            <li><a href="{{ '/gifts' | url }}"><strong>GIFTS</strong></a></li>
            <li><a href="{{ '/players' | url }}"><strong>PLAYERS</strong></a></li>
            <li><a href="{{ '/years' | url }}"><strong>YEARS</strong></a></li>
            <li><a href="{{ '/about' | url }}"><strong>ABOUT</strong></a></li>
          </ul>
        </menu>
      </header>

      <div class="mainRow">
        <main>        
          <div id="secretoHeadPage">
            <canvas id="secreto"></canvas>
          </div>
        </main>
      </div>

      <footer>
        <div id="footerToggles">
        <div>
          <span>DARK MODE</span>
          <label class="toggle-switch">
            <input id="darkMode" type="checkbox">
            <span class="slider"></span>
          </label>
        </div>
        </div>
        <span id="footerText">Shitty Secret Santa. Est 2010.</span>
      </footer>
    </div>
  </body>
</html>