
<h1>Years</h1>
<h4><em>We've been doing this for too long.</em></h4>
<ul>
{% for year in secretSanta.years %}
  <li>
    <a href="/year/{{ year.id}}/">
      {{ year.year }}
    </a>
  </li>
{% endfor %}
</ul>