---
pagination:
  data: secretSanta.gifts
  size: 1
  alias: gift
permalink: "gift/{{ gift.id }}/index.html"
---

<div id="giftPage" class="page">
  <h1>{{ gift.gift }}</h1>

  <div class="content">
    <p>
      <strong>Year:</strong>
      <a href="{{ '/year/' + gift.year | url }}">{{ (secretSanta.years | find("id", gift.year)).year }}</a>
    </p>

    <p>
      <strong>From:</strong>
      <a href="{{ '/player/' + gift.from | url }}">{{ gift.from }}</a>
    </p>

    <p>
      <strong>To:</strong>
      <a href="{{ '/player/' + gift.to | url }}">{{ gift.to }}</a>
    </p>
  </div>

  {# {% if gift.parent %}
    <p>
      <strong>Chain:</strong>
      <a href="{{ '/gift/' + gift.parent | url }}">{{ (secretSanta.chainGifts | find("id", gift.parent)).name }}</a>
    </p>
  {% endif %} #}

  {# <p>If you have photos or more details on this gift, send them to me.</p> #}

  {% for img in gift.images %}
  <img src="{{ '/imgs/gifts/' + img + '.webp' | url}}" />
  {% endfor %}
</div>
<div class="pagination">
    {% if pagination.previous %}
      <span>
      PREV:
        <a href="{{ pagination.previous | url }}">{{ pagination.page.previous.year }} {{ pagination.page.previous.from }} → {{ pagination.page.previous.to }}</a>
      </span>
    {% endif %}

    {% if pagination.next %}
      <span class="{{ 'last' if pagination.previous === null }}">
        NEXT: <a href="{{ pagination.next | url }}">{{ pagination.page.next.year }} {{ pagination.page.next.from }} → {{ pagination.page.next.to }}</a>
      </span>
    {% endif %}
</div>
