---
pagination:
  data: secretSanta.gifts
  size: 1
  alias: gift
permalink: "gift/{{ gift.id }}/index.html"
---

<div>
  <h1>{{ gift.gift }}</h1>

  <p>
    <strong>Year:</strong>
    <a href="{{ '/year/' + gift.year | url }}">{{ (secretSanta.years | find("id", gift.year)).year }}</a>
  </p>

  <p>
    <strong>From:</strong>
    <a href="{{ '/player/' + gift.from | url }}">{{ gift.from }}</a>
  </p>

  <p>
    <strong>To:</strong>
    <a href="{{ '/player/' + gift.to | url }}">{{ gift.to }}</a>
  </p>

  <p>If you have photos or more details on this gift, sent them to me.</p>
</div>
