<div id="the-book" class="page">
  <h1>The Book</h1>
  <ul>
  <li>A 3" dark blue three-ring binder, containing:</li>
  <li class="secondary">Final Fantasy Returners Role Playing Game 3rd Edition Rules - 418 pages, single-sided</li>
  <li class="secondary">A pocket guide to Microsoft Outlook 2007 - 2 pages, double-sided</li>
  <li>Wrapped in 3/8" galvanized steel chain</li>
  <li class="secondary">Locked with a Master Lock 40mm laminated steel padlock</li>
  <li class="secondary">Both pieces of the broken padlock key are affixed to the binder with clear packaging tape</li>
  <li class="secondary">Attached with string to the head of Chingo Bling bobble-head</li>
  <li>Bearing via blue painters tape a handwritten sign which reads, "Suck it, Neil. Xoxo'</li>
  <li>Atop a 3" pink three-ring binder, containing:</li>
  <li class="secondary">Final Fantasy RPG 4th Edition Core Rules, FFIV FFVI, and FFT Worldbooks, and Crisis in Cornelia Adventure - 320 pages, single-sided, with dividers</li>
  <li class="secondary">Blank FFRPG 4e charcter sheets - 6 pages, single-sided, triple hole-punched</li>
  <li>Upon a black 1/2" three-ring binder, containing:</li>
  <li class="secondary">Map combat rules for FFRRPG 3e</li>
  </ul>
</div>